h1{
    text-transform: uppercase;
    font-size: 80px;
    line-height: 80px;
    font-family: 'Bebas Neue', cursive;
}
.head-1{
    color: #FA804C;
}

.image-bg{
    background: #f5f1f1;
    border-radius: 15px;
    padding: 25px;
}
.card-bg{
    border-radius: 15px;
}

.shoes-price{
    color: #FA804C;
    font-weight: 700;
    font-size: 38px;
}
.card-btn{
    text-transform: uppercase;
    border-radius: 8px;
}


/* service part css */

.service-items{
    border-radius: 15px;
}


@media (max-width: 767px) { 
    h1{
    font-size: 60px;
    line-height: 60px;
    }
 }

 
 @media (min-width: 768px) and (max-width: 991.98px) {  
     h1{
    font-size: 70px;
    line-height: 70px;
    }
 }
